<!--The root route for the Rails server will serve up the following HTML, which our Backbone app will use as its scaffolding:-->

<h1><a href="#">CloudEdit</a></h1>
<h2>A Backbone.js Rails Example</h2>


<!--The #notice and #app div elements will be used by the app as a scaffold for the UI.-->
<div id="notice"></div>
<div id="app"></div>

<script type="text/javascript">
    $(function() {
        App.init();
    });
</script>